.filters {
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border: 1px solid #DDD;
	border-radius: 4px;
}
.filters button {
	font-size: 18px;
	background: #FF5A5F;
	color: #FFFFFF;
	float: right;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	margin: 12px 30px;
}
.filters button:hover {
	background-color: rgba(255,90,95, .9);
}
